@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
	<p>This is a simple Web-Application done with the help of the Web-Framework ASP.NET.</p>
	<p>The Web-Application is a simple todo List, new List entries can be created, existing ones can be edited and Entries can be deleted.</p>
</div>
